[id="tix-attendees"] {
    ul {
        @include medium-breakpoint {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &, a {
        color: $white !important;
    }

    li {
        float: none !important;
        width: 100% !important;
        padding: 2rem 4rem;
        margin: 0 !important;
        height: fit-content !important;
    }

    $attendeesGeometries: (
    (1, $orange, (2% 9%, 95% 3%, 88% 93%, 6% 98%)),
    (2, $turquoise, (2% 2%, 99% 5%, 97% 99%, 3% 99%)),
    (3, $blue, (5% 7%, 96% 5%, 97% 99%, 1% 96%)),
    (4, $purple, (11% 2%, 89% 10%, 100% 98%, 5% 96%)),
    (5, $green, (6% 3%, 85% 7%, 92% 92%, 5% 99%)),
    (6, $orange, (3% 3%, 98% 13%, 93% 100%, 4% 96%)),
    (7, $turquoise, (2% 9%, 95% 3%, 88% 93%, 6% 98%)),
    (8, $blue, (2% 2%, 99% 5%, 97% 99%, 3% 99%)),
    (9, $pink, (5% 7%, 96% 5%, 97% 99%, 1% 96%))
  );

  @each $index, $color, $path in $attendeesGeometries {
    li:nth-child(#{$index}n) {
        background: $color;
        clip-path: polygon($path);
    }
  }

  .tix-attendee-name {
    font-size: 1.8rem !important;
    font-weight: 600;
  }

  .tix-attendee-twitter {
    text-decoration: none;
    font-weight: 500;
  }
}