.post-inner.thin {
  padding-top: 4rem;
}

.hero {
  padding-top: 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    display: block;
    max-width: 90%;
    margin: -2rem auto 2rem;
  }

  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: $purple;

    a {
      color: inherit;
    }

    @include medium-breakpoint {
      font-size: 3rem;
    }

    @include medium-breakpoint {
      font-size: 3.3rem;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.floating-icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;

  span {
    position: absolute;
    display: block;
  }
}

$color-list: #f5e548, #81c0b7, #91c081, #cb589d, #5666a2, #d24941, #f5e548,
  #81c0b7, #91c081, #cb589d, #5666a2, #d24941;
$width-list: 11rem, 4rem, 4rem, 8rem, 4rem, 5rem, 4rem, 4rem, 8rem, 4rem, 5rem,
  7rem;
$top-list: 69vh, 20vh, 69vh, 43vh, 33vh, 90vh, 32vh, 58vh, 46vh, 92vh, 52vh,
  28vh;
$left-list: 4vw, 35vw, 83vw, 89vw, 11vw, 65vw, 66vw, 52vw, 22vw, 19vw, 72vw,
  78vw;
$clip-path-list: (2% 9%, 95% 3%, 88% 93%, 6% 98%),
  (2% 2%, 99% 5%, 97% 99%, 3% 99%), (5% 7%, 96% 5%, 97% 99%, 1% 96%),
  (11% 2%, 89% 10%, 100% 98%, 5% 96%), (6% 3%, 85% 7%, 92% 92%, 5% 99%),
  (3% 3%, 98% 13%, 93% 100%, 4% 96%), (2% 9%, 95% 3%, 88% 93%, 6% 98%),
  (2% 2%, 99% 5%, 97% 99%, 3% 99%), (5% 7%, 96% 5%, 97% 99%, 1% 96%),
  (11% 2%, 89% 10%, 100% 98%, 5% 96%), (6% 3%, 85% 7%, 92% 92%, 5% 99%),
  (3% 3%, 98% 13%, 93% 100%, 4% 96%);

@for $i from 1 through 12 {
  $a: #{$i * 90};
  $b: #{$i * 90+360};

  .floating-icons span:nth-child(#{$i}) {
    background: nth($color-list, $i);
    height: nth($width-list, $i);
    width: nth($width-list, $i);
    top: nth($top-list, $i);
    left: nth($left-list, $i);
    clip-path: polygon(nth($clip-path-list, $i));
  }
}
