// Media query for mobile first layout
@mixin small-breakpoint {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

// Break on tablet
@mixin medium-breakpoint {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

// Break on desktop
@mixin large-breakpoint {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin big-breakpoint {
  @media (min-width: #{$bigDesktop}) {
    @content;
  }
}

// Use with :before and :after
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin fullPseudo {
  @include pseudo;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@mixin rotatedGeometry($color, $rotation) {
  background: $color;
  transform: rotate($rotation);
}

@mixin responsiveWidth {
  max-width: 120rem;
  width: calc(100% - 4rem);

  @include large-breakpoint {
    margin-left: -4rem;
    width: calc(100% + 4rem);
  }

  @include big-breakpoint {
    margin-left: -6rem;
    width: calc(100% + 6rem);
  }
}
