//==============================================================================
// Colors
//==============================================================================

// General =====================================================================
$purple: #803978;
$orange: #dd7b4c;
$turquoise: #81c0b7;
$yellow: #f5e548;
$blue: #5666a2;
$green: #91c081;
$gray: #37414b;
$pink: #cb589d;
$white: #fff;

// Typography ==================================================================
$primaryTextColor: #37414b;
$inverseTextColor: #ffffff;

//==============================================================================
// Spacing
//==============================================================================
$xxs: 0.125rem;
$xs: 0.25rem;
$s: 0.5rem;
$m: 1rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 8rem;

//==============================================================================
// Breakpoints
//==============================================================================
$mobile: 600px;
$tablet: 800px;
$desktop: 1000px;
