//==============================================================================
// Colors
//==============================================================================

// General =====================================================================
$purple: #803978;
$orange: #dd7b4c;
$turquoise: #81c0b7;
$yellow: #f5e548;
$blue: #5666a2;
$green: #91c081;
$gray: #37414b;
$pink: #cb589d;
$white: #fff;
$red: #d24941;

// Typography ==================================================================
$primaryTextColor: #37414b;
$inverseTextColor: #ffffff;

// Sponsors ====================================================================
$diamond: #d1d2d4;
$platinum: #a8cbcd;
$gold: #c0b32e;
$silver: #949699;
$bronze: #987561;

//==============================================================================
// Spacing
//==============================================================================
$xxs: 0.125rem;
$xs: 0.25rem;
$s: 0.5rem;
$m: 1rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 8rem;

//==============================================================================
// Breakpoints
//==============================================================================
$mobile: 600px;
$tablet: 700px;
$desktop: 1000px;
$bigDesktop: 1220px;

//==============================================================================
// Images
//==============================================================================
$shapes: url(https://2020.madrid.wordcamp.org/files/2020/01/fondo-confeti.png);

//==============================================================================
// Paths
//==============================================================================
$buttonPath1: polygon(1% 6%, 100% 20%, 100% 84%, 7% 93%);
$buttonPath2: polygon(0 10%, 93% 8%, 100% 100%, 6% 97%);
