/* Base */
body {
  overscroll-behavior: none;
  background: $white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  letter-spacing: -0.02em;
}

h2.widget-title.subheading {
  text-align: center;
}

.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
a,
body,
.entry-title a,
:root .has-primary-color {
  color: $primaryTextColor;
}

a {
  font-weight: 600;
}
