/* Base */
body {
  overscroll-behavior: none;
  background: $white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  letter-spacing: -0.02em;
}

h2.widget-title.subheading {
  text-align: center;
}

.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
a,
body,
.entry-title a,
:root .has-primary-color {
  color: $primaryTextColor;
}

a {
  font-weight: 600;
}


// Page titles
.page-template-default.page .type-page .entry-header .entry-title {
  width: fit-content;
  margin: 0 auto;
  background: $purple;
  padding: 4rem 6rem;
  color: $white;
  clip-path: polygon(1.07% 1.13%, 96.72% 3.92%, 96% 92.19%, 0px 97%);
}

.primary-menu ul {
  right: 0 !important;
}