$primary-font-family: "Inter var", -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", Helvetica, sans-serif;

.entry-content p,
.entry-content ol,
.entry-content ul,
.entry-content dl,
.entry-content dt,
.entry-content {
  font-family: $primary-font-family !important;
}

@mixin headingL($display: block, $pos: absolute, $content: "") {
  font-size: 3.5rem;
}

@mixin headingM($display: block, $pos: absolute, $content: "") {
  font-size: 2.5rem;
}

@mixin paragraph($display: block, $pos: absolute, $content: "") {
  font-size: 2.5rem;
}
