.wordcamp-organizers {
  .wordcamp-post-list__post:not(:first-child) {
    margin-top: 5rem;
  }

  .wordcamp-organizer {
    display: flex;
    flex-direction: column;

    .wordcamp-organizers__title {
      margin-left: 0;
      position: relative;
      padding: 2rem;
      color: $white;
      margin-top: 2rem;
    }

    .wordcamp-image__avatar-container {
      grid-area: image;
      position: relative;
      order: -1;
    }
  }

  $organizersGeometries: (
    (1, $orange, 2deg),
    (2, $turquoise, -1deg),
    (3, $pink, 1deg),
    (4, $blue, -2deg),
    (5, $green, 1deg),
    (6, $orange, 2deg),
    (7, $turquoise, -1deg),
    (8, $pink, 1deg),
    (9, $blue, -2deg),
    (10, $green, 1deg),
    (11, $orange, 2deg),
    (12, $turquoise, -1deg),
    (13, $pink, 1deg),
    (14, $blue, -2deg),
    (15, $green, 1deg)
  );

  @each $index, $color, $rotation in $organizersGeometries {
    .wordcamp-post-list__post:nth-child(#{$index}) {
      .wordcamp-organizers__title:before {
        @include fullPseudo;
        @include rotatedGeometry($color, $rotation);
        z-index: -1;
      }

      .wordcamp-image__avatar-container:after {
        @include fullPseudo;
        z-index: -1;
        background: $color;
        transform: rotate(9deg);
        width: 15rem;
        left: 0;
      }
    }
  }
}
